{% extends 'layout.html' %}
{% block content %}
<section class="page-section container">
    <h1>About</h1>
    <p>The UNESCO Heritage Project is dedicated to preserving cultural and natural heritage around the world. We work closely with governments, local communities, and organizations to ensure World Heritage sites are maintained and protected at the highest standards.</p>
    <p>Our mission is to safeguard the world’s treasures for future generations while promoting sustainable development and community well-being.</p>
</section>
{% endblock %}
